@page
@using fisketorvet_project_v1.Models
@model fisketorvet_project_v1.Pages.AdminSection.ManageProductsModel
@{
}
<h1>@Model.Store.Name's Products</h1>

<table class="table" style="background-color: rgba(237, 237, 237,0.9)">
    <thead>
        <tr>
            <th>ID </th>
            <th>Name</th>
            <th>Dimensions</th>
            <th>Product Type</th>
            <th>Price</th>
            <th> </th>
            <th><a asp-page="AddProduct2Store" asp-route-id="@Model.Store.Id" 
                   class="btn btn-primary btn-group-lg"  >
                Add New
            </a></th>
        </tr>
    </thead>
    <tbody>
    @if(Model.Products.Count!=0)
    {        
        @foreach (Product prd in Model.Products.Values)
        {
            <tr>
                <td>
                    @prd.Id
                </td>
                <td>
                    @prd.ProductName
                </td>
                <td>
                    @prd.Dimensions
                </td>
                <td>
                    @prd.ProductType
                </td>
                <td>
                    @prd.Price
                </td>
                <td>
                    <img src="@prd.ImageName" width="80" height="70">
                </td>
                <td>
                    <a asp-page="EditProduct" 
                       class="btn btn-success btn-group-lg pull-right"  >
                        Edit
                    </a>
                </td>          
            </tr>
        }
    }
    </tbody>
</table>
