@page
@model fisketorvet_project_v1.Pages.PublicSection.CheckOutModel
@{
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>A simple, clean, and responsive HTML invoice template</title>

    <style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }


    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
    </style>
</head>

<body>
<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="title">
                            <img src="https://res.cloudinary.com/westfielddg/image/upload/westfield-media/dk/centre/logo/zqrtihx15qwrcs8s25ki.jpg" style="width:100%; max-width:300px;">
                        </td>

                        <td>
                                
                            Created: @DateTime.Now<br>
                                
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            <br>
                            @Model.Customer.Address<br>
                            @Model.Customer.PhoneNumber
                        </td>

                        <td>
                            <br>
                            @Model.Customer.Name<br>
                            @Model.Customer.Email
                                
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
            
        <tr class="heading">
            <td>
                Item
            </td>

            <td>
                Price
            </td>
        </tr>
        @foreach (var item in Model.OrderProducts)
        {
            <tr class="item">
                <td>
                    @item.ProductName
                </td>

                <td>
                    @item.Price.ToString("c")
                </td>
            </tr>
        }
            


        @{double total = @Model.OrderProducts.Sum(product => product.Price);}
        @{ double totalDiscounted = total - (total * 10 / 100);}
        <tr class="total">
            <td></td>

            <td>
                <del>Total:  @total.ToString("c") </del>
                                
            </td>
        </tr>
        <tr class="total">
            <td></td>
                
            <td>
                Final Price with Membership discount:  @totalDiscounted.ToString("c");
            </td>
        </tr>
    </table>
</div>

</body>
@* WebDev in a nutshell, feel free to try to center this stupid button horizontally if you can *@
<div class="justify-content-lg-center"> 
    <form method="post">
        <input type="submit" class="btn btn-primary" value="Return to Homepage" asp-page-handler="ResetCart" />
    </form>
</div>

</html>

