@page
@model fisketorvet_project_v1.Pages.PublicSection.RegisterPageModel
@{
}
<form method="post">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="@Model.Customer.Name" class="control-label"> Name </label>
            <input asp-for="@Model.Customer.Name" class="form-control" />
            
        </div>
        <div class="form-group">
            <label asp-for="@Model.Customer.UserName" class="control-label"> Username </label>
            <input asp-for="@Model.Customer.UserName" class="form-control" />
            <span asp-validation-for="@Model.Customer.UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Customer.Password" class="control-label"> Password </label>
            <input asp-for="@Model.Customer.Password" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Customer.Email" class="control-label"> Email </label>
            <input asp-for="@Model.Customer.Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Customer.PhoneNumber" class="control-label"> Phone Number </label>
            <input asp-for="@Model.Customer.PhoneNumber" class="form-control" />

        </div>
        <div class="form-group">
            <label asp-for="@Model.Customer.Address" class="control-label"> Address </label>
            <input asp-for="@Model.Customer.Address" class="form-control" />

        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-outline-primary" value="Register" />
        </div>
    </div>
</form>
<div>
    <a asp-page="/Login">Back to LoginPage</a>
</div>
