@page
@using fisketorvet_project_v1.Models
@model fisketorvet_project_v1.Pages.PublicSection.StoresDetailsModel
@{
}
<head>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<div class="container bootstrap snipets">
    <h1 class="text-center text-muted">@Model.Store.Name Catalog</h1> @*Dynamically get the name of the catalog*@
    <div class="row flow-offset-1">
        @foreach (Product prd in @Model.StoreProducts.Values)
        {
            <div class="col-xs-6 col-md-4 border bg-light">
                <div class="product tumbnail thumbnail-3">
                    <a href="#"><img class="card-img-top" src="@prd.ImageName"></a>
                    <div class="caption">
                        <h6><a href="#">@prd.ProductName</a></h6>
                        <div class="justify-content-around">
                            <span class="price sale">@prd.Price.ToString("c")</span>
                            <div class="mx-auto" style="height: 50px;">
                                <form method="post"><a class="btn btn-outline-primary" style="float: right;" asp-page="ShoppingCart"  asp-route-id="@prd.Id" asp-route-storeid="@Model.Store.Id">Add to cart</a></form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>
