@page
@using fisketorvet_project_v1.Models
@using Microsoft.CodeAnalysis.Operations
@model fisketorvet_project_v1.Pages.UserSection.UserPageModel
@{
}
<div class="text-center">
    <h1 class="display-4">Welcome to the User Page</h1>

</div>

<div>
    <h3 align="center">Hello, @Model.Customer.Name !<br /> Welcome back!</h3>
</div>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <button data-toggle="collapse" class="btn btn-sm btn-outline-secondary" data-target="#demo">My Orders</button>
            </h4>
        </div>
        <div id="demo" class="panel-collapse collapse">
            <div class="panel-body">
                @foreach (Order order in Model.Orders.Values)
                {
                    <p>@order.Date</p>
                    <p>@order.TotalPrice</p>
                    if (@order.Products != null)
                    {
                        foreach (Product prd in order.Products)
                        {
                            <p>@prd.ProductName</p>
                        }

                    }

                }

                @*<button type="submit" class="btn btn-sm btn-outline-secondary">Store Details</button>*@
            </div>
            <div class="panel-body">
                @*<button type="submit" class="btn btn-outline-secondary" align="right">Products</button>
                    I replcaed the button with the <a> so i could redirect to a page. Using boostrap classes you can make
                    it look like a real button, you can just look at my example*@

                <a class="btn btn-outline-secondary" asp-page="ManageProducts" asp-route-id="">Products</a>
            </div>
        </div>
    </div>
</div>
