@page
@using fisketorvet_project_v1.Models
@using Microsoft.CodeAnalysis.Operations
@model fisketorvet_project_v1.Pages.UserSection.UserPageModel
@{
}
<div class="text-center">
    <h1 class="display-4">User Page</h1>

</div>
<style>
    .back {
        background: linear-gradient(to right, rgba(255, 255, 255, 0.9),rgba(115, 115, 115,0.3) )
    }
</style>

<div class="back">
    <div>
        <h3 align="center">Hello, @Model.Customer.Name !<br /> Welcome back!</h3>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <button data-toggle="collapse" class="btn btn-sm btn-outline-secondary" data-target="#demo" style="background-color: cornflowerblue; color: aliceblue">My Orders</button>
                </h4>
            </div>
            <div id="demo" class="panel-collapse collapse">
                <div class="panel-body">
                    @foreach (Order order in Model.Orders.Values)
                    {
                        //Want to add a special message if you don't have any orders yet.
                        <p>@order.Date</p>
                        <p>@order.TotalPrice</p>
                        if (@order.Products != null)
                        {
                            foreach (Product prd in order.Products)
                            {
                                <p>@prd.ProductName</p>
                                <img />
                            }

                        }

                    }

                </div>
                <div class="panel-body">
                    @*<button type="submit" class="btn btn-outline-secondary" align="right">Products</button>
                        I replcaed the button with the <a> so i could redirect to a page. Using boostrap classes you can make
                        it look like a real button, you can just look at my example*@
                </div>
            </div>
        </div>
    </div>
</div>