@page
@model fisketorvet_project_v1.Pages.Edit.EditStoreModel
@{
}
<form method="post">
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="@Model.Store.Name" class="control-label"> Name </label>
            <input asp-for="@Model.Store.Name" class="form-control" />
            @*<span asp-validation-for="@Model.Store.Name" class="text-danger"></span>*@
        </div>
        <div class="form-group">
            <label asp-for="@Model.Store.Description" class="control-label"> Description </label>
            <textarea asp-for="@Model.Store.Description" id="form7" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Store.Location" class="control-label"> Location </label>
            <input asp-for="@Model.Store.Location" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Store.ImagePath" class="control-label"> ImageName </label>
            <input asp-for="@Model.Store.ImagePath" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Store.TypeOfStore" class="control-label"> Type </label>
            <input asp-for="@Model.Store.TypeOfStore" class="form-control" />
            @*<span asp-validation-for="@Model." class="text-danger"></span>*@
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-outline-primary" value="Create" />
        </div>
    </div>
</form>
<div>
    <a asp-page="/AdminSection/StoreAdminPage">Back to StoreAdmin Page</a>
</div>
