@page
@model fisketorvet_project_v1.Pages.Edit.EditUserModel
@{
}
<form method="post">
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="@Model.Customer.Name" class="control-label"> Name </label>
            <input asp-for="@Model.Customer.Name" class="form-control" />
            @*<span asp-validation-for="@Model.Store.Name" class="text-danger"></span>*@
        </div>
        <div class="form-group">
            <label asp-for="@Model.Customer.Address" class="control-label"> Adress </label>
            <input asp-for="@Model.Customer.Address" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Customer.Email" class="control-label"> Location </label>
            <input asp-for="@Model.Customer.Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Customer.PhoneNumber" class="control-label"> ImageName </label>
            <input asp-for="@Model.Customer.PhoneNumber" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Customer.Password" class="control-label"> Type </label>
            <input asp-for="@Model.Customer.Password" class="form-control" />
            @*<span asp-validation-for="@Model." class="text-danger"></span>*@
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-outline-primary" value="Create" />
        </div>
    </div>
</form>
<div>
    <a asp-page="/AdminSection/StoreAdminPage">Back to StoreAdmin Page</a>
</div>
