@page
@model fisketorvet_project_v1.Pages.AdminSection.CreateStoreAdminPageModel
@{
}
<style>
    .back {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(115, 115, 115,0.7))
    }
    label {
        text-shadow: 5px 5px 5px white;
        text-size-adjust: auto;
        text-indent: each-line;
    }

</style>

<form method="post" class="back">
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="@Model.Store.Name" class="control-label"><b>Name</b>  </label>
            <input asp-for="@Model.Store.Name" class="form-control" />
            @*<span asp-validation-for="@Model.Store.Name" class="text-danger"></span>*@
        </div>
        <div class="form-group">
            <label asp-for="@Model.Store.Description" class="control-label"> <b>Description</b> </label>
            <textarea asp-for="@Model.Store.Description" id="form7" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Store.Location" class="control-label"><b>Location</b> </label>
            <input asp-for="@Model.Store.Location" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Store.ImagePath" class="control-label"> <b>ImageName</b> </label>
            <input asp-for="@Model.Store.ImagePath" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Store.TypeOfStore" class="control-label"><b> Type</b> </label>
            <input asp-for="@Model.Store.TypeOfStore" class="form-control" />
            @*<span asp-validation-for="@Model." class="text-danger"></span>*@
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-outline-primary" value="Create" />
        </div>
    </div>
</form>
<div>
    <a asp-page="/AdminSection/StoreAdminPage">Back</a>
</div>